<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

>
<head th:replace="fragments/head :: head"></head>
<body>

<div class="container">
    <div class="row" id="header">
        <div class="col-md-2">
        </div>
        <div class="col-sm-10">
            <p class="display-1 text-end">Corona workplace</p>
            <p class="display-6 text-muted text-end">Who is working where and when</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="Main screen">
        <div class="col-md-2" id="navigation">
            <div class="card">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" th:href="@{/}">Home</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/reservations}">Reservations</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/reservations/create}">Create reservations</a>
                </div>
            </div>

        </div>
        <div class="col-sm-10" id="main">
            <div class="card">
                <div class="card-header">
                    <h4 th:text="${cardHeader}"></h4>
                </div>
                <div class="card-body">
                    <section layout:fragment="dynamic-content"></section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
