<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:fragment="head" th:with="title=${title ?: 'Corona workplace'}">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>
</head>
<body>
</body>
</html>
