<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="input(label, placeholder, type, field)" >
    <label
            class="form-label"
            th:for="${field}"
            th:text="${label}"
    >

    </label>
    <input th:type="${type}"
           class="form-control"
           th:placeholder="${placeholder}"
           th:aria-label="${label}"
           th:field="*{__${field}__}"
           th:id="${field}">
</div>
</body>
</html>
