<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/static-layout}"
      th:with="cardHeader='Oops...'"
>
<head>
    <meta charset=" UTF-8"/>
    <title>Corona workplace</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/main.css} "/>

</head>
<body>
<section layout:fragment="dynamic-content">
    <p>Sorry, something went wrong.</p>
</section>
</body>
</html>
