<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/static-layout}"
      th:with="cardHeader='Dashboard'"
>
<body>
<section layout:fragment="dynamic-content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">From</th>
            <th scope="col">Till</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.employee.firstName}"></td>
            <td th:text="${reservation.employee.lastName}"></td>
            <td th:text="${reservation.location}"></td>
            <td th:text="${reservation.date}"></td>
            <td th:text="${reservation.startTime}"></td>
            <td th:text="${reservation.endTime}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
